<%- include('../partials/header') %>

<h2>Enter New Ticket Information</h2>

<form action="/flights/<%= flight %>/tickets" method="POST">

<h5><%= flight._id %></h5>


  <label>Seat:
    <input name="seat" required pattern="[A-F][1-9]\d?">
  </label><br>

  <label>Price:
    <input type="number" name="price">
  </label><br>

  <button type="submit">Add Ticket</button>

</form>

<%- include('../partials/footer') %>