body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#newTicketButton {
  font-size: 12px;
  color: black;
  padding: 2px 7px 2px 7px;
  background-color: rgb(232, 232, 232);
  border-radius: 3px;
  border-color: black;
  border: solid 1px;
}